.MuiOutlinedInput-input {

    color: white !important;
}

.MuiDataGrid-cellContent {

    color: white !important;
}

.MuiCheckbox-root {

    color: white !important;
}

.MuiDataGrid-columnHeaderTitle {

    color: white !important;
}

.MuiTablePagination-displayedRows {

    color: white !important;
}

.MuiTablePagination-actions .MuiButtonBase-root {

    color: white !important;
}

.MuiFormLabel-root {

    color: white !important;
}

.MuiDataGrid-selectedRowCount {

    color: white !important;
}

.MuiDataGrid-menuIcon .MuiButtonBase-root {

    color: white !important;
}

.MuiDataGrid-iconButtonContainer .MuiButtonBase-root {

    color: white !important;
}